<link rel="stylesheet" href="/stylesheets/login.css" />

<% if (msg) { %>
<p><%= msg %></p>
<% } %>
<h1 class="login_header">Login</h1>
<form action="/users/login" method="post">
  <div class="login_form">
    <input
      class="login_email"
      type="email"
      name="email"
      placeholder="Enter Email"
    />
    <div>
      <input
        class="login_email"
        type="password"
        name="password"
        placeholder="Enter Password"
      />
    </div>
    <input class="login_submit" type="submit" value="Login" />
  </div>
</form>
