<link rel="stylesheet" href="/stylesheets/register.css" />

<h1 class="register_header">Register</h1>
<form action="/users/register" method="post">
  <div class="register_form">
    <input
      class="register_email"
      type="text"
      name="name"
      placeholder="Enter Name"
    />
    <div>
      <input
        class="register_email"
        type="email"
        name="email"
        placeholder="Enter Email"
      />
    </div>
    <div>
      <input
        class="register_email"
        type="text"
        name="username"
        placeholder="Enter Username"
      />
    </div>
    <div>
      <input
        class="register_email"
        type="password"
        name="password"
        placeholder="Enter Password"
      />
    </div>
    <input class="register_submit" type="submit" value="Register" />
  </div>
</form>
