
.title{
  text-align: center;
  justify-content: center;
  font-size: 30px;
  margin: 30px;
}

.description{
  font-size: 20px;
  letter-spacing: 1.5;
  line-height: 1.8;
  margin: 20px;
}

.tags{
  font-size: 17px;
  margin: 20px;
 
}

a{
  padding-right: 30px;
  text-decoration: none;
  
}

.article_tags{
  text-align: center;
  border: none;
  padding: 0.3 20 4 20;
  border-radius: 25px;
  background: orange;
  color: white;
}
 

.likes{
  margin: 20px;
  font-size: 20px;
  color: black;
}

.article_likes{
  padding-left: 30px;
}

.comment{
  margin: 20px;
  margin-top: 40px;
}

.article_comment{
  text-align: center;
  border: none;
  padding: 6 50;
  border-radius: 25px;
  background: #eeedede7;
  outline: none;
  font-size: 16px;
}

.comment_submit{
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background: rgb(50, 68, 231);
  font-weight: bold;
  border: none;
  padding: 4 5;
  margin-left: 10px;
  outline: none;
}

.comment_content{
  font-size: 18px;
  margin: 20px;
}

.comment_para{
  text-align: center;
  border: none;
  padding: 1 20 2 20;
  border-radius: 25px;
  background: rgb(50, 68, 231);
  color: white;
}

.back{
  font-size: 21px;
  margin: 20px; 
}
